body {
    background-image: url("images/2024_07_Film-09.png"); /* Changed backslashes to forward slashes and added a semicolon */
    /* background-color: red; */
}

.header-wrap{
    background-color: azure;
    padding: 3rem;
    width: 50%;
    border-radius: 2rem;
    margin: 3rem auto;
}

.link-container {
    padding: 1rem;
    background-color: antiquewhite;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}



.link-list-item {
    margin: 1rem;
    list-style-type: none;
}

